# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Secrets
*.key
*.json

# Build files
dist/
build/

# Optional: ignore dataset if large
# data/

# Optional: ignore model if large
# models/*.pkl